@import '../../static/css/constants.less';

.form__button {
    cursor: pointer;
    color: @input-background-color;
    height: 50px;
    width: 350px;
    font-size: @text-label;
    text-decoration: none;
    border: 0 black solid;
    padding: 5px 15px;
    font-weight: @chars-weight;
    border-radius: @radius;
}

.form__placement-additionall {
    margin-bottom: 30px;
}

.form {

}