.form__button {
  cursor: pointer;
  color: #333333;
  height: 50px;
  width: 350px;
  font-size: 15px;
  text-decoration: none;
  border: 0 black solid;
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 25px;
}
.form__placement-additionall {
  margin-bottom: 30px;
}
