@button-color: #333333;
@button-font: 15px;
@chars-weight: 700;
@radius: 25px;

.form__button {
    cursor: pointer;
    color: @button-color;
    height: 50px;
    width: 350px;
    font-size: @button-font;
    text-decoration: none;
    border: 0 black solid;
    padding: 5px 15px;
    font-weight: @chars-weight;
    border-radius: @radius;
}

.form {

}