@import '../../../static/css/constants.less';
.navbar-avatar {
  display: flex;
  flex-direction: row;
}

.navbar-avatar__img-container {
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
}

.navbar-avatar__img {
  width: 100%;
  height: 100%;
  border-radius: @big-radius;
}

.navbar-avatar__text-container {
  color: @main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.navbar-avatar__text {
  display: flex;
}
