@import '../../../static/css/constants.less';

.navbar-avatar {
  display: none;
  flex-direction: row;
  align-self: end;
  gap: 10px;
  padding: 5px 30px;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: @desktop) {
    display: flex;
  }
}

.navbar-avatar__img-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar-avatar__img {
  .img-properties();
}

.navbar-avatar__text-container {
  color: @main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.navbar-avatar__text {
  display: flex;
  .titleText();

  font-width: 600;
}

.js__navbar-dropDown__name-title {
  right: 0;
}
