<div class="js__player-main">
    <div class="dummy">
        <div class="dummy__text-div">
            <p class="dummy__text-class">
                Authenticate please.
            </p>
        </div>

        <div class="dummy__space"></div>

        <div class="dummy__button-div">
            <button class="dummy__button-class js__button__dummy">Log in</button>
        </div>
    </div>
    <div class="dummy__bottom-space"></div>
</div>
