@import '../../../static/css/constants.less';

.player {
  background: rgba(@opposed-main-color, 0.9);
  display: flex;
  color: @main-color;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  z-index: 999;
  gap:5px
}

.details {
  display: flex;
  width: 100%;
  margin-left: 20px;
}


.details__group-track-info {
  flex-direction: column;
  display: flex;
  width: fit-content;
}

.player__main-container {

}

.details__img-div {
  width: 50px;
  margin-right: 5px;
}

.details__img {
  width: 100%;
  height: 30px;
  object-fit: contain;
  border-radius: @small-radius;
}

.track-name {
  font-size: @font-input-element;
  font-weight: @chars-weight;
  color: @main-color;
}

.track-artist {
  font-size: @artist-name-font;
  font-weight: @chars-weight;
  color: @shadow-color;
}

.player-slider_container {
  display: flex;
  position: relative;
}

.player__main-container{
  flex-direction: column;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.player-buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.color_this {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.player-slider__current-time {
  z-index: 6;
  color: rgba(@opposed-main-color);
  pointer-events: none;
  position: absolute;
  left: 2vw;
}

.player-slider__total-duration{
  z-index: 6;
  color: rgba(@opposed-main-color);
  pointer-events: none;
  position: absolute;
  right: 2vw;
}

.player-slider__seek-slider {
  width: 100%;
  z-index: 4;
}

.player-slider__position {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.player__space-start-end {
  width: 100px;
}

.player__space-between {
  width: 60%;
}

input[type="range"]::-webkit-slider-thumb {
  width: 1px;
  -webkit-appearance: none;
  height: 15px;
  cursor: ew-resize;
  box-shadow: -100vw 0 0 100vw @complementary-color-theme, inset 0 0 0 15px;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(@main-color, 0.75);
  height: 15px;
}

input[type="range"] {
  overflow: hidden;
  height: 15px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;

  transition: box-shadow 0.2s ease-in-out;

  appearance: none;
  background: transparent;
  cursor: pointer;
}

.player-slider__position {
  input[type="range"] {
    height: 10px;
  }
}

.player-slider_container__volume-slider {
  opacity: 0.8;
  border-radius: @small-radius;
}

.player__black-spacer {
  background: rgba(@opposed-main-color, 0.9);
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;

  height: 10px;
  width: 100%;
}

.player__under-slider {
  display:flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}


.player__sound-block {
}



.player__control{
  display: flex;
  gap:15px;
  align-items: center;
}
