  <header class="header wrapper">
    <div class="header__container">
      <div class="sidebar__logo">
        <a><img class="header__img" src="img/ilyha/fluire-logo.svg" alt="Логотип"></a>
      </div>

      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">здесь</a>
        <a href="#">будут</a>
        <a href="#">нужные</a>
        <a href="#">кнопки</a>
      </div>
    </div>
    <div class="m-menu">
      <img src="img/ilyha/fi-ss-home.svg" alt="Главная">
      <img src="img/ilyha/fi-rs-search.svg" alt="Каталог">
      <img src="img/ilyha/library.svg" alt="Корзина">
    </div>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidebar").classList.add("open");
      }

      function closeNav() {
        document.getElementById("mySidebar").classList.remove("open");
      }
      </script>
