@import '../../../static/css/constants.less';

.navbar {
    background-color: rgba(@opposed-main-color, 0.8);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    width: calc(100% - 288px);
    height: 12.5vh;
    z-index: 999;
}

.navbar_library_element {
    margin-right: auto;
}

.navbar__link, .navbar__profile, .navbar__premium, .navbar__logout {
    text-decoration: none;
    margin: 0 30px;
    font-style: normal;
    font-weight: @chars-weight;
    font-size: @text-label;
    line-height: 19px;
    text-align: center;

    color: @shadow-color;
}

.navbar__link:hover, .navbar__button:hover {
    cursor: pointer;
    transform: scale(1.1);
    animation-duration: 0.5s;
    animation: transform;
}

.navbar__login {
    margin-right: 40px;
    background: @main-color;
    border-radius: @radius;
    width: 110px;
    height: 50px;
    font-style: normal;
    font-weight: @chars-weight;
    font-size: @text-label;
    line-height: 19px;
    text-align: center;

    color: @opposed-main-color;
}

.navbar__registration__item, .navbar__premium__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__border-left {
    display: none;
    background: rgba(@main-color, 0.7);
    border-left: 1px solid @main-color;
    margin: 0 10px;
    height: 50px;
    width: 1px;
}

.navbar__button {
    margin-right: @title-font;
    font-weight: @chars-weight;
    font-size: @text-label;
    line-height: 15px;
    width: 90px;
    height: 32px;
    background-color: transparent;

    border: 1px solid @main-color;
    border-radius: 82px;

    color: @main-color;
}

main {
    margin-bottom: 12.5vh;
    width: 100%;
    height: 87.5vh;
}
