@text-label: 15px;
@title-font: 40px;
@description-font: 24px;
@artist-name-font: 13px;
@font-input-element: 15px;
@error-font: 15px;
@font-sidebar: 18px;
@font-logo: 36px;


@chars-weight: 700;

@big-radius: 48px;
@radius: 25px;
@small-radius:5px;

@image-resolution: 50px;
@image-margin: 5px;


@main-color-theme: #1D0E46;
@player-color-theme: #8540a7;
@complementary-color-theme: #63367A;
@attractive-color: #A30606;
@shadow-color: #a7a7a7;
@main-color: #f2f2f2;
@sub-color: #333333;
@opposed-main-color: #0C0C0C;

@circleSize: 165px;
@radius: 100px;
@shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
@fontColor: rgb(250, 250, 250);

@line-size: 70vw;
@title-size-track: 65vw;
@index-size-track: 46px;
@like-size-track: 3vw;
@listens-size-track: 6vw;

p {
    margin: 0;
}
