@text-label: 1rem;
@title-font: 2.1rem;
@description-font: 1.5rem;
@artist-name-font: 0.8rem;
@font-input-element: 1rem;
@error-font: 1rem;
@font-sidebar: 1.1rem;
@font-logo: 2rem;

@chars-weight: 700;
@chars-less-weight:500;

@big-radius: 48px;
@radius: 25px;
@small-radius: 5px;

@image-resolution: 50px;
@image-margin: 5px;


@main-color-theme: #1D0E46;
@player-color-theme: #8540a7;
@complementary-color-theme: #63367A;
@attractive-color: #A30606;
@shadow-color: #a7a7a7;
@main-color: #f2f2f2;
@special-gray-color: #b3b3b3;
@sub-color: #333333;
@opposed-main-color: #0C0C0C;
@hover-color: #736D6D;
@notification-inside: #434343;

@circleSize: 165px;
@radius: 100px;
@shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
@fontColor: rgb(250, 250, 250);

@line-size: 70vw;
@title-size-track: 65vw;
@index-size-track: 46px;
@like-size-track: 3vw;
@listens-size-track: 6vw;


// viewports
@tablet: 768px;
@desktop: 1220px;
@mobile-only: 767px;

@mobileMax: ~"only screen and (max-width: 767px)";
@desktopMin: ~"only screen and (min-width: 1220px)";
@tabletSize: ~"only screen and (min-width: 768px) and (max-width: 1220px)";

@wrapper-desktop: 1440px;

@mixin wrapper-desktop {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}

@mixin wrapper-mobile {
  padding: 0 18px;
}

@mixin wrapper-tablet {
  padding: 0 38px;
}

@maxSizeForTextInLineListMobile:300px;

// sizes of elements
@maxSizeForFormTablet: 600px;
@maxSizeForFormDesktop: 400px;
@maxSizeForUserInfoFormDesktop: 500px;

@navbarSize: 74px;

@playerSizeMobile: 72px;
@playerSizeTablet: 102px;
@playerSizeDesktop: @playerSizeMobile;

@sideBarSizeMobile: 66px;
@bottomSizeForMobile: calc(@playerSizeMobile + @sideBarSizeMobile);
@bottomSizeForTablet: calc(@playerSizeTablet + @sideBarSizeMobile);

@fontForCovers: 1.3rem;
// todo another file with import in index.ts
@media @mobileMax {
  html {
    font-size: 25px;
  }
}

@media @tabletSize {
  html {
    font-size: 30px;
  }
}

@media @desktopMin {
  html {
    font-size: 25px;
  }
}

// text sizes not relative
@hugeTextFont: 1.4rem;
@bigTextFont: 1.2rem;
@usualTextFont: 1rem;
@smallTextFont: 0.8rem;
@verySmallTextFont: 0.66rem;
@tinyTextFont: 0.6rem;


// relative text sizes
@hugeTextFontR: 1.4em;
@bigTextFontR: 1.2em;
@usualTextFontR: 1em;
@smallTextFontR: 0.8em;
@verySmallTextFontR: 0.66em;
@tinyTextFontR: 0.6em;

.mainTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.smallText {
  font-size: 0.66rem;
  font-weight: 500;
  line-height: calc(0.66rem + 0.1rem);
}

.titleText {
  font-size: 0.8rem;
  font-weight: 700;
}

.bigTitle {
  font-weight: 700;
  font-size: 1rem;
}

@media @desktopMin {

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: @radius;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
}

#root {
  overflow: hidden;
}

body {
  overflow: hidden;
}


.scrollElement {
  overflow-y: scroll;
  max-height: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.paddings-content {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
