@text-label: 15px;
@title-font: 40px;
@description-font: 24px;
@artist-name-font: 13px;
@font-input-element: 15px;
@error-font: 15px;


@chars-weight: 700;


@radius: 25px;
@small-radius:5px;

@image-resolution: 50px;
@image-margin: 5px;


@main-color-theme: #1D0E46;
@complementary-color-theme: #63367A;
@attractive-color: #A30606;
@shadow-color: #a7a7a7;
@main-color: #f2f2f2;



@background-color-gr: #0c0c0c;
@link-button-background-color: #ffffff;
@link-text-color: #333333;
@input-background-color: #333333;
@text-color-button: #0C0C0C;
@input-background-color: #333333;
@text-color: #ffffff;
@border-color: #0C0C0C;
@error-color: #A30606;

@background-button-color: #f6f6f6;
@header-error-color: @text-color;
@text-button-color: @input-background-color;

@link-button-background-color: @text-button-color;
@link-text-color: @input-background-color;
@background-error: @error-color;