@import "../../components/Header/header.css";
@import "../../components/date/date.css";
@import "../../components/sex/sex.css";
@import "../../components/form/form.css";
@import "../../components/formFooter/formFooter.css";
@import "../../components/MainWindow/mainWindow.css";
@import "../../components/Navbar/Navbar.css";
@import "../../components/Menu/Menu.css";
@import "./constants.less";


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: @opposed-main-color;
    color: @main-color;
    margin: 0;
}
