@import "../../components/Header/header.css";
@import "../../components/date/date.css";
@import "../../components/sex/sex.css";
@import "../../components/form/form.css";
@import "../../components/formFooter/formFooter.css";
@import "../../components/MainWindow/mainWindow.css";
@import "../../components/Navbar/Navbar.css";
@import "../../components/Menu/Menu.css";
p {
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0C0C0C;
  color: #f2f2f2;
  margin: 0;
}
