@import "../../components/Header/header.less";
@import "../../components/date/date.less";
@import "../../components/sex/sex.less";
@import "../../components/form/form.less";
@import "../../components/formFooter/formFooter.less";
@import "../../components/MainWindow/mainWindow.less";
@import "../../components/Navbar/Navbar.less";
@import "../../components/Menu/Menu.less";
@import "./constants.less";


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: @opposed-main-color;
    color: @main-color;
    margin: 0;
}
