@import "../../components/MainWindowRender/MainWindow.css";
@import "../../components/Navbar/Navbar.css";
@import "../../components/Menu/Menu.css";

:root{
    --text-title: 40px;
    --text-logo: 36px;
    --text-subtitle: 30px;
    --text-usual: 24px;
    --text-sidebar: 18px;
    --text-label: 15px;

    --text-navbar: 16px;
    --text-cover-artist: 13px;
    --text-cover-description: 12px;

}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
}

p {
    margin: 0;
}

.title {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.page-title {
    font-size: var(--text-title);
    font-weight: 700;
    text-align: center;

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.7) 0%, rgba(255, 199, 0, 0.7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.page-description {
    font-size: var(--text-usual);
    font-weight: 700;
    height: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Form */
.reg-field, .log-field {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reg-input, .log-input {
    width: 350px;
    height: 40px;
    margin-bottom: 5px;
}

.reg-error, .log-error, .error-gender {
    color: red;
    width: 100%;
}

.error {
    width: 350px;
    margin-top: 15px;
}

.error-server {
    color:white;
    background-color: red;
    width: 100%;
}

.error-message-server {
    padding: 7px;
}

.reg-input, .log-input {
    margin: 0;
    padding-left: 10px;
    font-size: var(--text-label);
    border: 0 black solid;
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
    background-color: #333333;
}

.reg-date-and-sex {
    margin-bottom: 30px;
}

.reg-date, .reg-sex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg-sex-label, .reg-date-label {
    margin-bottom: 15px;
    font-size: var(--text-label);
    font-weight: 700;
    color: rgba(255, 255, 255, .95);
}

.reg-input-label, .log-input-label {
    font-size: var(--text-label);
    font-weight: 700;
    color: rgba(255, 255,255 , .95);
}

.reg-input:focus {
    border: 0px solid black;
    outline: none;
}

.log-input:focus {
    border: 0px solid black;
    outline: none;
}

.reg-date-label {
    margin-top: -10px;
}

.reg-choose-date, .reg-choose-sex {
    display: flex;
}

.reg-day {
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, .7) solid; 
    color: white;
    background-color: transparent;
    width: 80px;
    height: 30px;
}

.reg-month {
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, .7) solid; 
    color: white;
    background-color: transparent;
    width: 160px;
    height: 30px;
}

.reg-month option {
    color: black;
}

.reg-year {
    margin-left: 15px;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, .7) solid; 
    color: white;
    background-color: transparent;
    width: 80px;
    height: 30px;
}

.reg-sex {
    margin-top: 10px;
}

.reg-sex-var {
    margin-right: 15px;
}

.sex-var-label {
    cursor: pointer;
    font-size: var(--text-label);
    font-weight: 700;
    color:rgba(255, 255, 255, .7);;
}

/* next to form elements */

.auth-form-hr, .menu-hr, .signup-hr  {
    margin: 30px 0;
    background: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 0.01em;
}

.menu-hr {
    width: 216px;
    margin: 10px 0 30px;
}

.have-acc {
    color: rgba(255, 255, 255, 0.5);
}

/* Buttons */
.buttonclass {
    cursor: pointer;
    background: #f6f6f6;
}

.reg-btn, .log-btn {
    display: flex;
    justify-content: end;
}

.log-btn button {
    cursor: pointer;
    color: #333333;
}

.auth-btn button, .log-reg-btn, .reg-login-btn {
    cursor: pointer;
    color: #333333;
    cursor: pointer;
    height: 50px;
    width: 350px;
    font-size: var(--text-label);
    text-decoration: none;
    border: 0px black solid;
    padding: 5px 15px;
    font-weight: 700;
    border-radius: 25px;
}

/* bottom of pages */
.reg-bottom, .log-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reg-login-btn, .log-reg-btn {
    background-color: white;
    padding: 5px 10px;
    font-weight: 700;
    color: #333333;
}


/* Feed */
factBody {
    display: grid;

    grid-template-areas:
        "menu main";

    grid-template-rows: 1fr;
    grid-template-columns: 288px 1fr;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;

    margin: 0 23px;
    grid-area: menu;
}

main {
    grid-area: main;
    background: linear-gradient(180deg, #1D0E46 0%, #000000 60.89%);
}

.elements{
    width: 100%;
}

.register-link{
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-position {
    display: flex;
    justify-content: center;
}

.active {
    font-weight: bold;
    color: white;
}
