@import '../../../static/css/constants';

.input-block {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-block__label {
    margin-bottom: calc(calc(1 / 3) * 1rem);
    font-size: @text-label;
    font-weight: @chars-weight;
    color: rgba(@main-color, 0.95);
}

@media @mobileMax {
    .input-block__label {
        font-size: 0.8rem;
    }
}

.input-block__input-element {
    outline: none;
    font-size: @text-label;
    font-weight: @chars-weight;
    border: 0 @opposed-main-color solid;
    padding-left: calc(calc(10 / 16) * 1rem);
    color: rgba(@main-color, 0.7);
    background-color: @sub-color;
    height: 2rem;
    transition-duration: 150ms;
    transition-property: border, outline;
    max-width: 100%;
    width: 100%;
}

.input-block__error-placement {
    color: @attractive-color;
    display: block;
}


.input-block__input-element:hover {
    border: 0 solid black;
    outline: none;
}

.input-block__input-element::placeholder {
  white-space: pre-line;
  font-size: 0.66rem;
}
