.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.date__label {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
  margin-top: -10px;
}
.date__choose-place {
  display: flex;
}
.date__day,
.date__month,
.date__year {
  outline: 0;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px rgba(255, 255, 255, 0.7) solid;
  color: #ffffff;
  background-color: transparent;
}
.date__day {
  margin-left: 0px;
  width: 80px;
  height: 30px;
}
.date__month {
  cursor: pointer;
  width: 160px;
  height: 30px;
}
.date__month > option {
  color: black;
}
.date__year {
  width: 80px;
  height: 30px;
}
