@import '../../static/css/constants.less';

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date__label {
    margin-bottom: 15px;
    font-size: @text-label;
    font-weight: @chars-weight;
    color: rgba(@main-color, .95);
    margin-top: -10px;
}

.date__choose-place {
    display: flex;
}

.date__day, .date__month, .date__year {
    outline: none;
    margin-left: 15px;
    border-radius: @small-radius;
    border: 1px rgba(@main-color, .4) solid;
    color: @main-color;
    background-color: transparent;
}

.date__day {
    margin-left: 0px;
    width: 80px;
    height: 30px;
}

.date__month {
    cursor: pointer;
    width: 160px;
    height: 30px;
}

.date__month>option {
    color: @opposed-main-color;
}

.date__year {
    width: 80px;
    height: 30px;
}
