<div class="feed-page main-page-window">
    <div class="charts-class">
        <div class="charts-header">
            <h2>Top-charts per</h2>
        </div>
        <div class="chart-select">
            <select class="select-element" id="chart-duration">
                <option class="chart-option" value="week">week</option>
                <option class="chart-option" value="month">month</option>
                <option class="chart-option" value="year">year</option>
            </select>
        </div>
    </div>
    <div class="feed-content__placement"></div>
</div>
