@import '../../../static/css/constants.less';


.select-element {
  cursor: pointer;
  outline: none;
  border: 0 @opposed-main-color solid;
  padding: 0 calc(calc(10 / 16) * 0.8rem);
  color: rgba(@main-color, 0.7);
  background-color: @sub-color;
  height: 2rem;
  transition-duration: 150ms;
  transition-property: border, outline;
  max-width: 100%;
  width: 100%;
  .usualText();
}

.chart-option {
  cursor: pointer;
}

.charts-class {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.charts-header {
  .smallTitleText();
}
