@import '../../../static/css/constants.less';

.track-line {
  display: grid;
  align-items: center;
  grid-template-columns: [index] 20px [first] 6fr [album] 4fr [listens] 2fr [like] 1fr [duration] 1fr [another] 1fr;
  padding: 0 16px 10px 10px;
  gap: 10px;
}

.buttons {
  cursor: pointer;
  display: none;
  grid-area: index;
  margin-right: 15px;
}

.track-line:hover {
  background-color: @hover-color;
  border-radius: @small-radius;
}

.track-line:hover .buttons {
  display: block;
  cursor: pointer;
}

.track-line:hover .track-line__index {
  display: none;
}

.track-line__index {
  grid-area: index;
  text-align: center;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;

  color: rgba(255, 255, 255, 0.7);
}

.track-line__block {
  grid-area: first;
  display: flex;
  gap: 10px;
  align-items: center;
}

.track-line__listens {
  grid-area: listens;
  display: flex;
  align-items: center;
  justify-self: start;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  text-align: right;

  color: rgba(255, 255, 255, 0.5);
}

.albumDiv {
  grid-area: album;
}

.like-button-block {
  grid-area: like;
}

.like-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.like-button__img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.unlike-button__img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.unlike-button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
}

.track-line__duration {
  grid-area: duration;
  align-items: center;
  justify-self: end;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.5);
}

.track-line__another {
  grid-area: another;
  width: 30px;
  height: 30px;
}

.track-line__cover {
  width: 40px;
  height: 40px;
}

.track-line__title {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 15.4459px;
  line-height: 20px;

  color: #FFFFFF;
}

.play-button-track {
  background-color: transparent;
  border: none;
}

.stop-button-track {
  background-color: transparent;
  border: none;
}

.likeImg {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
