@import "../../../static/css/constants";


.js__artist-page-window {
}

.artist-page-window {
}

.artist-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #736D6D 0%, #4B4848 17.76%, #333232 26.54%, #121212 98.92%);
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: @desktop) {
    width: 100%;
  }
}

.artist-pre-content {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.artist__like-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.like__img {
  width: 35px;
  height: 35px;
}

.pre-buttons {
  cursor: pointer;
}

.artist-pre-content__img {
  cursor: pointer;
  width: 56px;
  height: 56px;
}

.play-button {
  cursor: pointer;
  background-color: transparent;
  border: none;

  padding-left: 0;
}

.stop-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.another-button {
  background-color: transparent;
  border: none;
}

.artist-pre-content__button {
  box-sizing: border-box;
  background-color: transparent;
  color: #FFFFFF;

  width: 130px;
  height: 29px;

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.popular-tracks-title {
  font-style: normal;
  .bigTitle();

  margin-bottom: 10px;
  color: #FFFFFF;
}

.artist-items {
  display: flex;
  gap: 24px;
}

.album-list {
  @media (min-width: @desktop) {
    width: max-content;
  }
}

.header-avatar {
  display: flex;
  flex-direction: row;

  margin-top: calc(@navbarSize);
}

@media @mobileMax {
  .header__avatar-container {
    max-width: 120px;
    max-height: 120px;
    height: auto;
  }

  .header-avatar {
    align-items: center;
  }
}
