@import '../../../static/css/constants.less';

.main-page-window__factBody {
    position: relative;
    display: flex;
    overflow:hidden;
    overflow-x: hidden;
    overflow-y: hidden;

    max-height: 100%;
    height: 100%;

    @media(min-width: @desktop) {
        display: grid;

        grid-template-areas:
        "menu main";

        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr;
    }
}

main {
    background: linear-gradient(180deg, @main-color-theme 0%, @opposed-main-color 60%);

    @media(min-width: @desktop) {
        grid-area: main;
        margin-bottom: 0;
    }
}


.main-page-window {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: @navbarSize 60px 0.5rem;

    .scrollElement();
}

@media @mobileMax,@tabletSize {
    .main-page-window {
        .paddings-content();
    }
}

.offline-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
}

