@import '../../../static/css/constants.less';

.main-page-window__factBody {
    margin-bottom: 400px;
    position: relative;

    @media(min-width: @desktop) {
        display: grid;

        grid-template-areas:
        "menu main";

        margin-bottom: 0;
        height: fit-content;
        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr;
    }
}

@media only screen and (max-height: 670px) {
        .main-page-window__factBody {
            margin-bottom: 300px;
        }
}

main {
    background: linear-gradient(180deg, @main-color-theme 0%, @opposed-main-color 60%);

    @media(min-width: @desktop) {
        grid-area: main;
        margin-bottom: 0;
    }
}


.main-page-window {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    padding-top: 73px;
}

@media @mobileMax,@tabletSize {
    .main-page-window {
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
}

.offline-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
}

