@import '../../../static/css/constants.less';

.main-page-window__factBody {
    display: grid;

    grid-template-areas:
        "menu main";

    grid-template-rows: 1fr;
    grid-template-columns: 288px 1fr;
    position: relative;
    height: 100%;
}

main {
    grid-area: main;
    background: linear-gradient(180deg, @main-color-theme 0%, @opposed-main-color 60%);
}


.main-page-window {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    margin-top: 73px;
}

.offline-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 80px;
}

