@import '../../../static/css/constants.less';

.album {
  padding: 20px;
  padding-top: 75px;
}

.album__img {
  width: 200px;
  height: 200px;
}
@media @mobileMax, @tabletSize {
  .album__img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.album__descriptions{
  position: relative;
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
  //margin-top: 1rem;
}

.headerNameClass {
  color: @shadow-color;
  .bigTitle();
}

.descriptions {
  padding-left: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.author__place {
  cursor: pointer;
  color: @shadow-color;

  .titleText();
  font-weight: 500;
}

.author {
  color: @shadow-color;
  margin-right: @font-sidebar;
}

@media @mobileMax, @tabletSize {
  .author {
    margin-right: 0;
    padding-right: 0.3rem;
  }
}

.headerNameOfElementClass {
  cursor: pointer;
  color: @main-color;
  margin-bottom: 15px;

  word-break: break-word;

  .bigTitle();
}

.ArtistClass {
  color: @main-color;
  margin-bottom: 10px;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.js__description-album {
  max-width: 100%;
  word-break: break-word;
  white-space: break-spaces;
}

.by__div {
  display: flex;
  flex-direction: row;
}

.album__buttons {
  margin: 20px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px
}

.playButton{
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.albumLike {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.playlist-delete {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.subscribeButton {
  box-shadow: none;
  margin-top: 20px;
  border-radius: @big-radius;
  border-width: 2px;
  border-color: @main-color;
  background-color: transparent;
  color:rgba(lime, 0.7);
  width: 150px;
  height: 40px;

  font-size: @font-sidebar;
}

.bottomDiv {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;

  color: @shadow-color;
}

.track-hr {
  max-width: 90vw;
  border-width: 1px;
  margin-bottom: 20px;
}

.numberDiv {
  text-align: center;
  min-width: @index-size-track;
}

.ListensDiv {
  min-width: @listens-size-track;
  display: flex;
  justify-content: center;
}

.track {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.track__img-block {
  display: flex;
  flex-direction: row;
  min-width: @title-size-track;
}

.track__index {
  display: flex;
  align-items: center;
  min-width: @index-size-track;
}

.track__liked-img {
  min-width: @index-size-track;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.imgLike {
  max-width: 20px;
  max-height: 20px;
}

.likedDiv {
  min-width: @index-size-track;
  margin-right: 5px;
}

.track__title {
  display: flex;
  align-items: center;
}

.track__listens {
  min-width: @listens-size-track;
  width: @listens-size-track;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist__with__title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.artists__text {
  color: @shadow-color;
  font-weight: 200;
  padding-top: 2px;
}

@media @mobileMax,@tabletSize {
  .artists__text {
    font-size: 0.6rem;
    white-space: nowrap;
  }
}

.albumDiv {
  display: flex;
  width: 70%;
  justify-content: right;
  .smallText();
}

@media @mobileMax, @tabletSize {
  .albumDiv {
    display: none;
  }
}

.albumClass {
  color: @shadow-color;
  font-weight: 200;
  padding-top: 2px;
}

.header__img__sing-page {

}

@media @mobileMax, @tabletSize {
  .header__img__sing-page {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.artist__text__line {
  overflow: hidden;
  text-overflow: ellipsis;
}

.optionSize {
  .smallText();
  width: 100%;
}
.dropdown-title:hover {
  border-radius: @small-radius;
}

.optionSize:hover {
  background-color: @hover-color;
}

