.bottom__placement {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bottom__link {
  color: rgba(255, 255, 255, 0.5);
}
.bottom__button {
  background-color: #ffffff;
  padding: 5px 10px;
  font-weight: 700;
  color: #333333;
  border-radius: 25px;
  text-decoration: none;
}
