<div class="dummy js__player-main">
        <div class="dummy__text-div">
            <p class="dummy__text-title">
                Fluire preview.
            </p>
            <p class="dummy__text-class">
                Sign up to listen to music and podcasts without limits!
            </p>
        </div>

        <div class="dummy__space"></div>

        <div class="dummy__button-div">
            <button class="dummy__button-class js__button__dummy">Log in</button>
        </div>
</div>
