@import '../../../static/css/constants.less';


.dummy {
  background: linear-gradient(90.15deg, #FE6EBC 0%, rgba(0, 102, 255, 1) 125.53%);
  height: 8%;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media(max-width: @desktop) {
    bottom: 66px;
  }
}



.dummy__text-div {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin-left: 2%;
  justify-content: center;
}

@media @mobileMax {
  .dummy__text-div {
    width: 100%;
  }
}

.dummy__text-title {
  margin-top: 0.3%;
  .titleText();
}

.dummy__text-class, .dummy-mobile__text-class {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.4%;
  .smallText();
}

@media @mobileMax {
  .dummy-mobile__text-class {
    display: flex;
  }
  .dummy__text-class {
    display: none;
  }
}

@media @tabletSize, @desktopMin {
  .dummy-mobile__text-class {
    display: none;
  }
  .dummy__text-class {
    display: flex;
  }
}

.dummy__button-div {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

@media @desktopMin, @tabletSize {
  .dummy__button-div {
    max-width: 200px;
  }
}

.dummy__button-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  border-color: @main-color;
  border-radius: @big-radius;
  transition-duration: 300ms;
  cursor: pointer;

  .smallTitleText();
}

@media @mobileMax {
  .dummy__button-class {
    width: 70%;
    height: 70%;
    padding: 0.3rem;
  }
}

@media @desktopMin,@tabletSize {
  .dummy__button-class {
    width: 90%;
    height: 60%;
  }
}

.dummy__button-class:hover {
  scale: 1.05;
  box-shadow: 0 0 1vw rgba(@main-color, 0.3);
}


.dummy__space {
  width: 10%;
}

@media @mobileMax {
  .dummy__space {
    display: none;
  }
}
