<div class="library-list">
    <div class="library-list__item library-list__playlists {{#ifEquals activeElement 'Playlists'}}library-active{{/ifEquals}}">
        <p>Playlists</p>
    </div>
    <div class="library-list__item library-list__tracks {{#ifEquals activeElement 'Tracks'}}library-active{{/ifEquals}}">
        <p>Tracks</p>
    </div>
    <div class="library-list__item library-list__artists {{#ifEquals activeElement 'Artists'}}library-active{{/ifEquals}}">
        <p>Artists</p>
    </div>
    <div class="library-list__item library-list__albums  {{#ifEquals activeElement 'Albums'}}library-active{{/ifEquals}}">
        <p>Albums</p>
    </div>
</div>
