@import '../../static/css/constants';

.input-block {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-block__label {
    margin-bottom: 5px;
    font-size: @text-label;
    font-weight: @chars-weight;
    color: rgba(@main-color, 0.95);
}

.input-block__input-element {
    outline: none;
    font-size: @text-label;
    font-weight: @chars-weight;
    border: 0 @opposed-main-color solid;
    padding-left: 10px;
    color: rgba(@main-color, 0.7);
    background-color: @sub-color;
    width: 350px;
    height: 40px;
}

.input-block__error-placement {
    color: @attractive-color;
    display: block;
    width: 350px;
    margin-top: 15px;
}

.input-block__input-element:hover {
    border: 0 solid black;
    outline: none;
}
