@import '../../../static/css/constants.less';

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button {
    cursor: pointer;
    color: @opposed-main-color;
    text-decoration: none;
    border: 0 black solid;
    font-weight: @chars-weight;
    border-radius: @radius;
    width: 100%;
    font-size: 1rem;
    height: 1.4rem;
}

@media @mobileMax {
    .form__button {
        .bigTitle();
    }
}


.form__placement-additionall {

}

.form {

}

.form__hr-placement {
    display: flex;
    justify-content: center;
}

.form__hr {
    margin: 30px 0;
    background: rgba(@main-color, 0.5);
    width: 60%;
    height: 0.01em;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    box-sizing: border-box;
}

@media @mobileMax {
    .content {
        .paddings-content();
    }
}


.button-placement {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-size: 0.8rem;
}


