@import '../../../static/css/constants.less';

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button {
    cursor: pointer;
    color: @sub-color;
    height: 2.2rem;
    text-decoration: none;
    border: 0 black solid;
    padding: 5px 15px;
    font-weight: @chars-weight;
    border-radius: @radius;
    width: 100%;
}

@media @mobileMax {
    .form__button {
        font-size: 1.2rem;
    }
}

@media @tabletSize {
    .form__button {
        font-size: 1.5rem;
    }
}

@media @desktopMin {
    .form__button {
        font-size: 1.6rem;
        height: 2.5rem;
    }
}

.form__placement-additionall {
    margin-bottom: 30px;
}

.form {

}

.form__hr-placement {
    display: flex;
    justify-content: center;
}

.form__hr {
    margin: 30px 0;
    background: rgba(@main-color, 0.5);
    width: 60%;
    height: 0.01em;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media @mobileMax {
    .content {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

.js__formLeft {
    @media (min-width: @desktop) {
        margin-top: -69px;
    }
}

.button-placement {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

