<div class="search__block-{{whatSearch}} search__block">
    <p class="search__block__nothing-text">No liked {{whatSearch}}</p>
    <p class="search__block__agitation-text">Search for {{whatSearch}} to add!</p>
    <button class="search__block__button-nothing search__block__button__{{whatSearch}}">
        Search
    </button>
</div>
