<div class="{{lineListClass}}">
    {{#ifEquals isArtistPage true}}
        <p class="{{title}}">{{titleText}}</p>
    {{/ifEquals}}
    {{#each content}}
        {{> ../../smallComponents/Line/line.handlebars item = this root = ../. }}
    {{/each}}
</div>
