<div class="{{lineListClass}}">
    <p class="{{title}}">{{titleText}}</p>
    {{#each content}}
        {{> ../../smallComponents/Line/line.handlebars item = this root = ../. }}
    {{/each}}
</div>
