<div class="absolute__two-block">
    <div class="search__two-block-{{whatSearch}} search__two-block">
        <p class="search__two-block__nothing-text">No Playlist is liked or created{{whatSearch}}</p>
        <p class="search__two-block__agitation-text">Search for Playlist to add or create one! </p>
        <div class="search__two-block__buttons-placement">
            <button class="two-block__button-nothing search__two-block__button__{{whatSearch}}">
                Search
            </button>
            <button class="two-block__button-nothing create__two-block__button__{{whatSearch}}">
                Create
            </button>
        </div>
    </div>
</div>
