@import '../../../static/css/constants';

.library-tapes {
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  padding-top: @navbarSize;
}

@media @mobileMax, @tabletSize {
  .library-tapes {
    .paddings-content();
  }
}

.library__nothing-text {
  padding-top: 0.5em;
  .bigTitle();
}

.divider {
  margin-top: 0.5rem;
  border-top: 1px solid @main-color;
}
