@import '../../../static/css/constants';

.library-tapes {
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  padding-top: 73px;
}

.library__nothing-text {
  font-size: 1.5rem;
  padding-top: 0.5em;
  font-weight: @chars-weight;
}
