<div class="{{category}} library-tapes">
    <div class="js__placement-nothing"></div>
    <div class="js__user-playlists-placement"></div>
    <div class="js__divider__placement"></div>
    <div class="js__favorite-playlists-placement">
    </div>
</div>
