<div class="{{mainDiv}}">
    <div class="js__placement-search"></div>
    <div class="js__nothing-found-search"></div>
    <div class="js__placement-tracks-search"></div>
    <div class="js__placement-albums-search"></div>
    <div class="js__placement-artists-search"></div>
    <div class="js__placement-playlists-search"></div>
    <div class="search-img-block">
        <img class="search-img" src="/static/svg/default-search.svg">
    </div>
</div>
