<div class="{{mainDiv}}">
    <div class="js__placement-search"></div>
    <div class="js__nothing-found"></div>
    <div class="js__placement-tracks"></div>
    <div class="js__placement-albums"></div>
    <div class="js__placement-artists"></div>
    <div class="js__placement-playlists"></div>
</div>
