@import '../../../static/css/constants';

.search-line__input {
  position: relative;
  outline: none;
  color: rgba(@opposed-main-color, 0.9);
  padding-left: 4%;
  background-color: rgba(@shadow-color, 0.2);
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2.5vh;
}

.search-line__input::placeholder {
  position: absolute;
  font-size: 2.5vh;
  color: rgba(@opposed-main-color, 0.9);
  left: 4%;
  top: 30%
}

.search-line {
  background-color: rgba(@shadow-color, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  position: relative;
}

.search-line__img-container {
  position: absolute;
  left: 1%;
  top: 20%;
  width: 2%;
  height: 60%;
}

.search-line__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.placement-search_line {
  width: 100%;
  height: 100%;
}
