@import '../../../static/css/constants';

.search-line__input {
  position: relative;
  border-radius: @small-radius;
  outline: none;
  color: rgba(@main-color, 0.9);
  padding-left: 9%;
  background-color: rgba(@shadow-color, 0.2);
  width: 100%;
  height: 100%;
  border: none;
  .smallText();
}

.search-line__input::placeholder {
  position: absolute;
  color: rgba(@main-color, 0.7);
  left: 9%;
  top: 30%;

  .smallText();
}

.search-line {
  background-color: rgba(@shadow-color, 0.3);
  border-radius: @small-radius;
  display: flex;
  flex-direction: row;
  height: 5vh;
  position: relative;
}

@media @desktopMin {
  .search-line {
    width: 50%;
    max-width: @maxSizeForUserInfoFormDesktop;
  }
}

@media @mobileMax {
  .search-line {
    width: 100%;
  }
}

@media @tabletSize {
  .search-line {
    width: 70%;
    max-width: @maxSizeForFormTablet;
  }
}

.search-line__img-container {
  position: absolute;
  left: 1%;
  top: 20%;
  width: 7%;
  height: 70%;
}

.search-line__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.placement-search_line {
  width: 100%;
  height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
