.sidebar__link {
  width: 127px;
  font-style: normal;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
  margin-top: 5px;
}
.sidebar__img {
  margin-right: 16px;
}
.sidebar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 15px;
}
.sidebar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__label {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
}
.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sidebar__link:hover {
  color: #f2f2f2;
}
.title {
  display: flex;
  align-items: center;
}
.title__img {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.sidebar__space {
  margin-bottom: 40px;
}
.library__sidebar__item {
  margin-bottom: 40px;
}
