<div class="{{mainUserDiv}}">
    <div class="{{avatarDiv}} js__placement__avatar"></div>
    <div class="{{classWhereFormIs}} js__placement__where__form"></div>
    <div class="{{classForButtons}} js__placement__buttons"></div>
</div>