@import '../../../static/css/constants';

.user {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user__blocks-space {
  display: inherit;
  width: 40px;
}

.user__form-placement {
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.user-profile {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.user-profile__horizontal-space {
  width: 10px;
}

.user-profile__vertical-space {
  height: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.user-profile__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.user-profile__initials-text {
  margin-top: 15px;
  font-size: @title-font;
  font-weight: @chars-weight;
}

.user-profile__username-text {
  font-size: @font-input-element;
  font-weight: @chars-weight;
}

.form-data {
  margin-right: 20px;
}

.user_button-placement {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.user__button-cancel {
  background-color: transparent;
  color: @shadow-color;
  border-style: none;
  font-size: @font-input-element;
  font-weight: @chars-weight;
  cursor: pointer;

}

.user__button-save {
  background-color: @main-color;
  color: @opposed-main-color;
  font-size: @font-input-element;
  font-weight: @chars-weight;
  border-radius: @radius;
  width: 140px;
  height: 50px;
  cursor: pointer;
}

.user__error-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;

  background-color: #A30606;
}

.user__success-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;

  color: forestgreen;
}

.avatar-block {
  display: flex;
  width: 700px;
  flex-direction: column;
}

.js__placement__avatar {
  align-self: flex-start;
}
