@import '../../static/css/constants';

main {
    grid-area: main;
    background: linear-gradient(180deg, @main-color-theme 0%, @opposed-main-color 60.89%);
}

.main-page-window {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 73px;
}

.main-page-window__factBody {
    display: grid;

    grid-template-areas:
        "menu main";

    grid-template-rows: 1fr;
    grid-template-columns: 288px 1fr;
}